@tailwind base;
@tailwind components;
@tailwind utilities;
  
.custom-quill .ql-container {
    border: none !important;
}

.custom-quill .ql-toolbar {
    order: 2;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .custom-quill .ql-editor::before {
    color: rgba(205, 205, 205, 0.662) !important;
    font-style: normal !important;
  }

  
  
  